aenum==2.1.2
allure-pytest==2.5.1
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
cached-property==1.5.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
coveralls==1.5.0
cryptography==2.3.1
docopt==0.6.2
enum34==1.1.6
funcsigs==1.0.2
future==0.16.0
idna==2.7
ipaddress==1.0.22
jsmin==2.2.2
lxml==4.2.5
more-itertools==4.3.0
namedlist==1.7
parsedatetime==2.4
pathlib2==2.3.2
pluggy==0.7.1
py==1.6.0
pycparser==2.18
pyOpenSSL==18.0.0
pytest==3.8.0
pytest-cov==2.6.0
pytest-localserver==0.4.1
requests==2.19.1
scandir==1.9.0
selenium==3.14.0
selenium-smart-locator==0.2.0
six==1.11.0
toml==0.9.6
tox==3.3.0
urllib3==1.23
virtualenv==16.0.0
wait-for==1.0.11
Werkzeug==0.14.1
widgetastic.core
